<div class="photo">pic</div>
<div class="name"><%= item.escape( 'name' ) %></div>
<div class="description"><%= item.escape( 'description' ) %></div>
<div class="price"><%= item.escape( 'price' ) %></div>
<div class="rating"><%= item.escape( 'avg_rating' ) %></div>