<!-- Search Bar and View Options -->
<form class="search form-search">
<input type="text" name="query" id="query">
<input type="date" name="rental[start_date]" placeholder="From">
<input type="date" name="rental[end_date]" placeholder="To">
<button type="button" class="search">Search</button>
</form>
<div class="views">
<button type="button" class="list">List</button>
<button type="button" class="photo">Photo</button>
<button type="button" class="map">Map</button>
</div>
