<form class="search">
<input type="text" name="query" id="query">
<input type="date" name="rental[start_date]" placeholder="From">
<input type="date" name="rental[end_date]" placeholder="To">
<!-- <input type="submit" value="Search"> -->
<button class="list">List</button>
<button class="photo">Photo</button>
<button class="map">Map</button>
</form>


