<!-- Search Bar and View Options -->
<div class="row">
  <div class="search navbar-form pull-left btn-group">
    <input type="text" name="query" id="query" placeholder="search">
  </div>
  <div class="btn-group views">
  <button type="button" class="btn list">List</button>
  <button type="button" class="btn photo">Photo</button>
  <button type="button" class="btn map">Map</button>
  </div>
</div>
