/* line 5, ../../app/assets/stylesheets/item_detail_page.css.scss */
.item-detail .hero .photo {
  display: inline-block;
  float: left;
  margin: 2em;
}
/* line 10, ../../app/assets/stylesheets/item_detail_page.css.scss */
.item-detail .hero .description {
  padding-top: 3em;
}
/* line 14, ../../app/assets/stylesheets/item_detail_page.css.scss */
.item-detail .hero .name {
  font-size: 1.3em;
}
/* line 18, ../../app/assets/stylesheets/item_detail_page.css.scss */
.item-detail .hero .value {
  padding-top: 2em;
  font-size: 3em;
  float: right;
  color: blue;
}
