/* line 7, ../../app/assets/stylesheets/item_index_page.css.scss */
.view-options .views {
  float: right;
}
/* line 12, ../../app/assets/stylesheets/item_index_page.css.scss */
.view-options .search button {
  margin-top: 0.25em;
}

/* line 18, ../../app/assets/stylesheets/item_index_page.css.scss */
.starred {
  color: blue;
}

/* line 28, ../../app/assets/stylesheets/item_index_page.css.scss */
.hide {
  position: relative;
  left: -10000px;
  top: -10000px;
  width: 700px;
  height: 500px;
  overflow: hidden;
}

/* line 39, ../../app/assets/stylesheets/item_index_page.css.scss */
.results .thumbnail {
  height: 18em;
  width: 15em;
  display: inline-block;
  margin-bottom: 1em;
}
/* line 45, ../../app/assets/stylesheets/item_index_page.css.scss */
.results .thumbnail .photo {
  margin-top: 0.5em;
  text-align: center;
  height: 12em;
  width: 15em;
}
/* line 52, ../../app/assets/stylesheets/item_index_page.css.scss */
.results .thumbnail .caption {
  height: 5em;
}
/* line 56, ../../app/assets/stylesheets/item_index_page.css.scss */
.results .thumbnail .rating {
  display: inline-block;
}
/* line 63, ../../app/assets/stylesheets/item_index_page.css.scss */
.results .item-list img {
  float: left;
  display: inline;
  margin-right: 2em;
}
/* line 69, ../../app/assets/stylesheets/item_index_page.css.scss */
.results .item-list .price {
  float: right;
}
/* line 74, ../../app/assets/stylesheets/item_index_page.css.scss */
.results li {
  list-style-type: none;
}
/* line 78, ../../app/assets/stylesheets/item_index_page.css.scss */
.results .caption {
  height: 2em;
  width: 15em;
}
/* line 83, ../../app/assets/stylesheets/item_index_page.css.scss */
.results .name {
  font-size: 1.5em;
}
/* line 87, ../../app/assets/stylesheets/item_index_page.css.scss */
.results .description {
  font-size: 1em;
}
/* line 91, ../../app/assets/stylesheets/item_index_page.css.scss */
.results .highlight {
  background: lightgray;
}

/* line 97, ../../app/assets/stylesheets/item_index_page.css.scss */
.inventory .photo {
  float: left;
}

/* line 102, ../../app/assets/stylesheets/item_index_page.css.scss */
#map-canvas {
  display: block !important;
  width: 1000px;
  height: 700px;
}

/* line 109, ../../app/assets/stylesheets/item_index_page.css.scss */
.category-item {
  width: 400px;
}
/* line 113, ../../app/assets/stylesheets/item_index_page.css.scss */
.category-item a {
  font-size: 2.5em;
  text-decoration: none;
}
