// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.view-options {
  overflow: auto;

  .views {
    float: right;
  }
}

.starred {
  color: blue;
  // ★
}

.unstarred {
  // ☆
}

//used to render google map offscreen
.hide {
  position:relative;
  left:-10000px;
  top:-10000px;
  width:700px;
  height:500px;
  overflow:hidden;
}

.results {
  .photo {
    display: inline-block;
    float: left;
    height: 10em;
    width: 15em;
    // padding: 0em, 3em;
  }

 .name {
    font-size: 1.5em;
  }

  .description {
    font-size: 1em;
  }

  .highlight {
    background: lightgray;
  }
}

.inventory {
  .photo {
    float: left;
  }
}

#map-canvas{
  // z-index: 10;
  display: block !important;
  width: 1000px;
  height: 700px;
}

.category-item {
     
  width: 400px;

  a {
    font-size: 2.5em;
    text-decoration: none;
  }
}

