.item-detail {

  .hero {

    .photo {
      display: inline-block;
      float: left;
      margin: 2em;
    }
    .description {
      padding-top: 3em;
    }

    .name {
      font-size: 1.3em;
    }

    .value {
      padding-top: 2em;
      font-size: 3em;
      float: right;
      color: blue;
    }
  }

  .tab-content {

    .user-photo{
      height: 4em;
      width: 4em;
    }

    .reviewer {
      text-align: center;
    }

    .title{
      font-style: italic;
    }

    .rating {
      display: inline-block;
      float: right;
    }

    .body {
      margin-top: 1em;
    }
  }
}