// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #3D4AE8;


.view-options {

  .views {
    float: right;
  }

  .search {
    button {
      margin-top: 0.25em;
    }
  }
}

.starred {
  color: $blue;
  // ★
}

.unstarred {
  // ☆
}

//used to render google map offscreen
.hide {
  position:relative;
  left:-10000px;
  top:-10000px;
  width:700px;
  height:500px;
  overflow:hidden;
}

.results {
  
  .thumbnail {
    height: 18em;
    width: 15em;
    display: inline-block;
    margin-bottom: 1em;

    a {
      // TODO: dont underline
    }

    .photo {
      margin-top: 0.5em;
      text-align: center;
      height: 12em;
      width: 15em;
    }

    .caption {
      height: 5em;
    }

    .name {
      color: $blue;
    }

    .rating {
      display: inline-block;
    }

  }
  
  .item-list {
    img {
      float: left;
      display: inline;
      margin-right: 2em;
    }

    .price {
      float: right;
    }
  }

  li {
    list-style-type: none;
  }

  .caption {
    height: 2em;
    width: 15em;
  }

 .name {
    font-size: 1.5em;
  }

  .description {
    font-size: 1em;
  }

  .highlight {
    background: lightgray;
  }
}

.inventory {
  
  .description {
    text-align: center;
    font-size: 1.5em;
  }

  .photo {
    margin: 1em;
  }

  .thumbnail{
    text-align: center;
  }

  .new-item {
    //TODO: simplify css to remove underline
    // a:link {text-decoration:none;}
    // a:visited {text-decoration:none;}
    // a:hover {text-decoration:none;}
    // a:active {text-decoration:none;}

    p {
      padding: 15% 10% 15% 10%;
    }
  }


  .pending-request {
    height: 3em;
    padding: 0.5em;
    
    li {
      text-decoration: none;
    } 
    
    button {
      margin-left: 2em;
    }
  }
}

#map-canvas {
  // z-index: 10;
  display: block !important;
  width: 1000px;
  height: 700px;

  .map-sidebar {
    display:none;
    position:absolute;
    background-color: white;
    padding:15px;

    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
}

.category-item {
     
  width: 400px;

  a {
    font-size: 2.5em;
    text-decoration: none;
  }
}

