// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.results {
  .photo {
    display: inline-block;
    float: left;
    height: 10em;
    width: 15em;
  }

 .name {
    font-size: 1.5em;
  }

  .description {
    font-size: 1em;
  }

  .highlight {
    background: lightgray;
  }
}

#map-canvas{
  // z-index: 10;
  display: block !important;
  width: 700px;
  height: 500px;
  background-color: yellow;
}

//using jquery's .hide() and .show() instead
.hide {
  position:relative;
  left:-10000px;
  top:-10000px;
  width:700px;
  height:500px;
  overflow:hidden;
}

.category-item {
     
  width: 400px;

  a {
    font-size: 2.5em;
    text-decoration: none;
  }
}