<!-- Landing Page  -->
<div class="logo span8">
  <img class="" src="/assets/loanittome_logo.png" alt="">
</div>
<div class="main-content">
  <%= render partial: "layouts/instructions" %>
  <% @categories.each do |category| %>
  <div class="category-item span4 offset4 text-center" data-category="<%= category.id %>">
    <li class="well well-large"><%= link_to category.name, category_url(category) %></li>
  </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
    var options = { $rootEl: $('.main-content') };
    LoanItToMe.initialize(options);
  });
</script>