<div class="container"></div>
<!-- TODO: This template is for refactoring; the itemindex page should start here with bootstrapped data instead -->
<script type="application/json">
  var categoryItems = <%= @items.to_json %>;
</script>