<span class="star" data-id="1">☆</span>
<span class="star" data-id="2">☆</span>
<span class="star" data-id="3">☆</span>
<span class="star" data-id="4">☆</span>
<span class="star" data-id="5">☆</span>
