<div class="pending-request well">
<div class="span1"><%=  rental.get('start_date').format('rentalTime') %></div>
<div class="span1"><%= rental.get('end_date').format('rentalTime') %></div>
<button class="status btn">Accept</button>
</div>