<!-- TODO: delete if not using -->
<div class="item-list">
  <hr>
  <div class="price"><%= JST['items/_item_price']({item: item}) %></div>
  <img src="<%= item.escape( 'photo_small') %>" alt="">
  <ul class="rentals"></ul>
  <div class="rating">
    <span class="star" data-id="1">☆</span>
    <span class="star" data-id="2">☆</span>
    <span class="star" data-id="3">☆</span>
    <span class="star" data-id="4">☆</span>
    <span class="star" data-id="5">☆</span>
  </div>
</div>
