<div class="user-profile">
  <div class="username"><%= user.username %></div>
  <div class="photo"><%= user.selfie %></div> 
  <div class="bio"><%= user.bio %></div>
  <div class="email"><%= user.email %></div>
</div>
